body {
  margin: 0;
  padding: 0;
  font-size: 32px;
  color: rgb(0, 255, 95);
}

.stuff {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.h1 {
  font-size: 10rem;
}

.h2 {
  font-size: 6rem;
}

canvas {
  opacity: 0.5;
}
